* {
    font-family: monospace;
}
#name {
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
    margin: 5%;
}

#name:hover {
    color: #8AAAE5;
}

.headings {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

.body-text {
    text-align: center;
    font-size: 25px;
}

li {
    text-align: left;
}
.grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 80px auto;
    gap: 10px;
    
    padding: 5%;
    margin: 50px;
  }
  
.grid-items {
    background-color: #8AAAE5;

    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 25px;
    font-family: monospace;
}

.grid-headers {
    background-color: #8AAAE5;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 25px;
    font-family: monospace;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-item {
    background-color: #8AAAE5;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }